.wishlist {
  min-height: 96vh;
  .wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .wishItems {
      width: 60%;
      border: 1px solid;
    }
  }
}
