.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .checkout-steps > div {
    border-top: 0.3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 0.5;
    padding: 1rem;
    font-weight: bold;
  }
  .checkout-steps > div.active {
    border-top-color: #f08000;
    color: #f08000;
  }
  .form {
    max-width: 60rem;
    margin: 0 auto;
    .form label {
      margin: 1rem 0;
  
      .form label {
        margin: 1rem 0;
      }
    }
  }
  .form > div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  