.contact {
  .contactWrapper {
    display: flex;
    flex-wrap: wrap;
    .formWrapper {
      min-width: 300px;
      flex: 1.5;
      display: flex;
      justify-content: center;
      .form {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .heading {
          font-weight: 600;
        }
        .formRow {
          display: flex;
          flex-direction: row;
          .labelName {
            min-width: 100px;
          }
          .input {
            width: 100%;
            padding: 5px;
          }
          .textInput {
            width: 100%;
            min-height: 100px;
          }
        }
        .inputSendBtn {
          width: 70%;
          padding: 5px;
          align-self: flex-end;
        }
        .inputSendBtn:hover {
          background-color: green;
          cursor: pointer;
        }
      }
    }
    .addressWrapper {
      min-width: 270px;
      flex: 1;
      padding-top: 30px;
      .heading {
        font-weight: 600;
      }
      .addressBox {
        padding-top: 5px;
        .address {
          padding-top: 10px;
          font-weight: 400;
          display: block;
        }
      }
    }
    .mapWrapper {
      min-width: 300px;
      flex: 1.5;
      display: flex;
      flex-direction: column;
      padding-top: 10px;
      .mapInnerWrapper {
        width: 100%;
        height: 100%;
      }
    }
  }
}
