.product {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(131, 124, 124);
  padding: 10px;
  .img {
    max-width: 390px;
  }
  .lowerblock {
    display: flex;
    justify-content: space-between;

    .name {
      flex: 3;
      font-size: larger;
      font-weight: 600;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .price {
      flex: 1;
      font-weight: 500;
    }
    .addToCardBtn {
      flex: 1;
      max-width: 100px;
      background-color: rgb(248, 91, 52);
      color: white;
      border-style: none;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 450px) {
  .product {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 10px;
    .img {
      max-width: 350px;
    }
    .lowerblock {
      display: flex;
      justify-content: space-between;

      .title {
        flex: 2;
        font-size: medium;
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .price {
        flex: 1;
        font-weight: 500;
      }
      .addToCardBtn {
        flex: 1;
        max-width: 30px;
        background-color: rgb(248, 91, 52);
        color: white;
        border-style: none;
        cursor: pointer;
        font-size: 13px;
      }
    }
  }
}
