.productPage {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .imgBlock {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      .img {
        border: 1px solid;
        flex: 1;
        min-width: 300px;
        width: 100%;
        padding: 20px;
      }
    }
    .textBlock {
      min-width: 300px;
      padding: 20px;
      flex: 1;
      border: 1px solid;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .headline {
        font-size: 40px;
        font-weight: 600;
        padding: 0 0 20px 0;
      }
      .description {
        font-size: 18px;
        font-weight: 300;
        padding: 0 0 20px 0;
      }
      .price {
        font-size: 30px;
        font-weight: 600;
        padding: 0 0 20px 0;
      }
      .sizeButtons {
        width: 70%;
        padding: 0 0 20px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .sizeBtn {
          padding: 10px;
          background-color: rgb(197, 172, 166);
        }
        .sizeBtnRed {
          padding: 10px;
          background-color: rgb(248, 91, 52);
          color: white;
        }
      }
      .quantityAddToCart {
        width: 70%;
        padding: 20px 0 20px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .quantity {
          padding: 10px;
        }
        .addToCart {
          padding: 10px;
        }
      }
    }
  }
}
