.stickyHeader {
  position: fixed;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: 10;
}

.navbar {
  width: 100%;
  .container {
    padding: 10px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .menuItem {
      text-decoration: none;
      color: rgb(248, 91, 52);
      padding: 0 15px;
      &:hover {
        background-color: rgb(248, 91, 52);
        color: rgb(238, 238, 238);
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .navbar {
    width: 100%;
    .container {
      padding: 10px 0 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .menuItem {
        border: 1px solid;
        width: 100%;
        text-decoration: none;
        color: rgb(248, 91, 52);
        padding: 10px;
        &:hover {
          background-color: #91b9e7;
          color: rgb(238, 238, 238);
        }
      }
    }
  }
}
