.menus {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;

  .container {
    height: 65%;
    width: 75%;
    border: 1px solid red;
    display: flex;
  }
}
