.cartitem {
  display: flex;
  padding: 10px;
  gap: 10px;

  .img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    padding: 10px;
  }
  .titlesize {
    display: flex;
    flex-direction: column;
    .title {
      padding: 5px;
    }
    .size {
      padding: 5px;
    }
  }
  .price {
    padding: 10px;
  }
  .deletebtn {
    height: 30px;
    width: 30px;
  }
}
