.cartitem {
  display: flex;
  padding:10px;

  .img {
    flex:1;
    width: 50px;
    padding:10px;
  }
  .titlesize {
    flex:2;
    display: flex;
    flex-direction: column;
    .title {
        padding:10px;
    }
    .size {
        padding:10px;
    }
  }
  .price {
    flex:1;
    padding:10px;
  }
  .deletebtn {
    flex:1;
    height: 40px;
    
  }
}
