.cartitem {
  min-width: 450px;
  border: 1px solid rgb(243, 238, 238);
  display: flex;
  padding: 10px;
  gap: 10px;

  .img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    padding: 10px;
  }
  .titlesize {
    width: 160px;
    display: flex;
    flex-direction: column;
    .title {
      padding: 5px;
    }
    .size {
      padding: 5px;
    }
  }
  .price {
    padding: 10px;
  }
  .deletebtn {
    height: 30px;
    width: 30px;
  }
}

@media only screen and (max-width: 750px) {
  .cartitem {
    min-width: 260px;
    border: 1px solid;
    display: flex;
    gap: 1px;

    .img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      padding: 5px;
    }
    .titlesize {
      font-size: 10px;
      width: 70px;
      display: flex;
      flex-direction: column;
      .title {
        padding: 5px;
      }
      .size {
        padding: 5px;
      }
    }
    .price {
      font-size: 10px;
      font-weight: 600;
      padding: 5px;
    }
    .deletebtn {
      height: 30px;
      width: 30px;
    }
  }
}
