.footer {
  display: flex;
  justify-content: space-around;
  color: rgb(248, 91, 52);
  background-color: rgb(255, 255, 255);
  width: 100%;
  flex-wrap: wrap;
  position: sticky;
  top: 100%;

  .left {
    font-weight: 700;
    padding: 10px;
  }

  .right {
    font-size: smaller;
    padding: 10px;
  }
}
