.footer {
  display: flex;
  justify-content: space-around;
  color: rgb(248, 91, 52);
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: sticky;
  box-shadow: 1px 1px 3px rgb(248, 91, 52);

  .left {
    font-weight: 700;
    padding: 10px;
  }

  .right {
    font-size: smaller;
    padding: 10px;
  }
}

@media only screen and (max-width: 750px) {
  .footer {
    display: flex;
    justify-content: space-around;
    color: rgb(248, 91, 52);
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: sticky;

    .left {
      font-weight: 700;
      padding: 10px;
      font-size: 13px;
    }

    .right {
      font-size: smaller;
      padding: 10px;
      font-size: 13px;
    }
  }
}

.stickyFooter {
  position: fixed;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  z-index: 10;
}
