.singlemenu {
  flex: 1;
  min-width: 250px;
  display: flex;
  position: relative;
  border: 1px solid;
  .img {
    z-index: 1;
    width: 100%;
    object-fit: cover;
  }
  .textDiv {
    z-index: 4;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 10px;
    right: 100px;
    .title {
      font-size: 30px;
      font-weight: 600;
      padding: 10px;
      color: white;
    }
    .titleblack {
      font-size: 30px;
      font-weight: 600;
      padding: 10px;
      color: black;
    }
    .desc {
      font-size: small;
      padding: 10px;
      color: white;
    }
    .descblack {
      font-size: small;
      padding: 10px;
      color: black;
    }
    .button {
      margin: 30px 0 0 10px;
      padding: 5px;
      width: 80px;
      cursor: pointer;
      border-style: none;
      background-color: rgb(248, 91, 52);
    }
    .buttonblack {
      margin: 30px 0 0 10px;
      padding: 5px;
      width: 80px;
      cursor: pointer;
      border-style: none;
      background-color: black;
      color: white;
    }
  }
}

@media only screen and (max-width: 750px) {
  .singlemenu {
    flex: 1;
    min-width: 250px;
    display: flex;
    position: relative;
    border: 1px solid;
    .img {
      z-index: 1;
      width: 100%;
      object-fit: cover;
    }
    .textDiv {
      z-index: 4;
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 0;
      left: 10px;
      right: 100px;
      .title {
        font-size: 20px;
        font-weight: 600;
        padding: 10px;
        color: white;
      }
      .titleblack {
        font-size: 20px;
        font-weight: 600;
        padding: 10px;
        color: black;
      }
      .desc {
        font-size: small;
        padding: 10px;
        color: white;
        font-size: 13px;
      }
      .descblack {
        font-size: small;
        padding: 10px;
        color: black;
        font-size: 13px;
      }
      .button {
        margin: 10px 0 0 10px;
        padding: 5px;
        width: 60px;
        cursor: pointer;
        border-style: none;
        background-color: rgb(248, 91, 52);
        font-size: 13px;
      }
      .buttonblack {
        margin: 10px 0 0 10px;
        padding: 5px;
        width: 60px;
        cursor: pointer;
        border-style: none;
        background-color: black;
        color: white;
        font-size: 13px;
      }
    }
  }
}
