.menu {
  min-height: 100vh;
  .menus {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      height: 75%;
      width: 85%;
      display: flex;
    }
  }
}
