.slider {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .textblock {
    border: 1px solid;
    flex: 1;
    height: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .text {
      font-size: 50px;
      font-weight: 600;
      color: rgb(248, 91, 52);
      padding: 60px;
    }
    .button {
      background-color: rgb(248, 91, 52);
      color: white;
      padding: 10px;
      font-weight: 600;
      border-style: none;
      cursor: pointer;
    }
  }
  .images {
    border: 1px solid;
    flex: 1;
    height: 430px;
    object-fit: cover;
  }
}

@media only screen and (max-width: 750px) {
  .slider {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .textblock {
      flex: 1;
      height: 430px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .text {
        font-size: 30px;
        font-weight: 600;
        color: rgb(248, 91, 52);
        padding: 60px;
      }
      .button {
        background-color: rgb(248, 91, 52);
        color: white;
        padding: 5px;
        font-size: 13px;
        font-weight: 600;
        border-style: none;
        cursor: pointer;
      }
    }
    .images {
      flex: 1;
      height: 430px;
      min-width: 350px;
      object-fit: cover;
    }
  }
}
